[user]
	name = ksomemo
	email = kntsmy@hotmail.co.jp
[merge]
	ff = false

[alias]
	ignore = !"f() { local s=$1; shift; \
		while [ $# -gt 0 ]; do s="$s,$1"; shift; done;\
			curl "http://gitignore.io/api/$s"; }; f"

	st = status
	co = checkout
	cm = commit
	br = branch
	res = reset
	l = log
	di = diff
	log = log -p
[color]
	ui = true
