[user]
	name = ksomemo
	email = kntsmy@hotmail.co.jp
[merge]
	ff = false

[alias]
	ignore = !"f() { local s=$1; shift; \
		while [ $# -gt 0 ]; do s="$s,$1"; shift; done;\
			curl -L "http://www.gitignore.io/api/$s"; }; f"

	st = status

	co = checkout

	cm = commit

	br = branch

	res = reset

	ft = fetch

	rbs = rebase

	di = diff

	ad = add

	ps = push

	mg = merge

	stash-unstage = git stash save –-keep-index

	# log
	l = log
	logp = log -p
	lograph = log --graph --pretty=medium-reverse
[color]
	ui = true
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	autocrlf = false
	quotepath = false
[pretty]
	medium-reverse = format:'%C(red reverse)%d%Creset%C(white reverse) %h% Creset %C(green reverse) %an %Creset %C(cyan)%ar%Creset%n%C(white bold)%w(80)%s%Creset%n%n%w(80,2,2)%b'
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
